/* Trang login */
body {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    background: rgb(252, 246, 234);
}
.container {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;

    background: rgb(252, 246, 234);
}
.form {
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 20px 40px;
    border: 1px gray solid;
    border-radius: 10px;
    width: 300px;
    margin: 2.5% auto;
    border: rgb(116, 133, 38) 2.5px solid;

    font-size: 25px;
}
form h2 {
    font-size: 60px;
    margin: 10px 0;
    color: rgb(83, 97, 22);
    text-align: center;
}
/* form lable {
    font-size: 20px;
    color: rgb(83, 97, 22);
} */
form input {
    width: 90%;
    margin: 15px 0;
    border-radius: 5px;
    border: rgb(116, 133, 38) 2.3px solid;
    padding: 15px;
    font-size: 20px;

    color: grey;

}
form button {
    font-size: 20px;
    margin: 15px 0;
    padding: 13px 40px;
    width: 100%;    

    background: rgb(116, 133, 38);;
    /* color: rgb(83, 97, 22); */
    color: white;
    border: rgb(116, 133, 38) 2.5px solid;
    border-radius: 5px;

    transition: 0.3s;
}
/* form button a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(83, 97, 22);
} */
form button:hover {
    /* background: rgb(255, 252, 244); */
    background: rgb(83, 97, 22);
    color: rgb(255, 252, 244);
    border: rgb(83, 97, 22) 2.5px solid;
    /* border: rgb(149, 162, 92) 2.5px solid; */
}
/* form button a:hover {
    color: rgb(83, 97, 22);
    color: rgb(116, 133, 38);
} */
form p {
    font-size: 20px;
    color: rgb(83, 97, 22);
}
form p a {
    text-decoration: none;
}
form p a:hover {
    text-decoration: underline;
}
/* /Trang login */