* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
/* All file */
.container {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
}
.header {
    padding: 0 0;
    margin: 0 0;
}
.one {
    margin: 0 0;
    padding: 10px 100px;
    text-align: start;
    background: rgb(252, 246, 234);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.OurUser {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.hidden {
    display: none;
}
.OurUser button {
    margin: 0 5px;
    padding: 10px 25px;
    /* background: rgb(228, 244, 180); */
    background: white;
    color: rgb(83, 97, 22);
    font-size: 20px;
    border: rgb(116, 133, 38) 2.1px solid;
    border-radius: 5px; 

    transition: 0.25s;
}
.OurUser p {
    font-size: 20px;
    color: rgb(13, 79, 90);
    margin: 0 10px;
}
.OurUser button a {
    text-decoration: none;
    color: rgb(83, 97, 22);
}
.OurUser button:hover {
    background: rgb(255, 250, 238);
    color: rgb(116, 133, 38);
    border: rgb(149, 162, 92) 1.9px solid;
    transform: scale(1.1);
}
.OurUser button a:hover {
    color: rgb(116, 133, 38);
}
.logo {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 50px;
    color: rgb(13, 79, 90);
}
.pages {
    margin: 0 100px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid rgb(208, 211, 193);
    border-bottom: 1.5px solid rgb(208, 211, 193);
}
.page {
    background: white;
    border: white;
    padding: 20px 50px;
    color: gray;
    width: 350px;   
    border-bottom: white; 
    transition: 0.2s;
}
.pages button:hover {
    background: rgb(252, 246, 234);
    color: rgb(116, 133, 38);
}
.pages a:hover {
    color: rgb(116, 133, 38);
}
.pages a {
    text-decoration: none;
    color: rgb(86, 86, 86);
    font-size: 25px;
    transition: 0.3s;
}
/*  */
.footer {
    background: rgb(252, 246, 234);
    width: 100%;
    padding: 40px 10%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.footer_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;

}
.navigate {
    padding: 0 50px;
}
.part_children {
    padding: 25px 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.part_children a:hover {
    transform: translateY(-5px);
    text-decoration: underline;
}
.part span {
    color: rgb(116, 133, 38);
    font-size: 33px;
}
.part a {
    text-decoration: none;
    color: rgb(86, 86, 86);
    transition: 0.3s;
}
.web_address {
    font-size: 20px;
    color: grey;
}
.web_address a {
    text-decoration: none;
    color: rgb(86, 86, 86);
}
.web_address a:hover {
    text-decoration: underline;
}



/* Trang Menu */
.container_body {
    margin: 0 100px;
    padding: 50px 0;   
    width: 85%; 
}
.dishes {
    margin: 20px 0;
    padding: 20px 0;
    /* display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    justify-content: space-between;
    white-space: normal;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
}
.dishes img {
    width: 270px;
    height: 150px;
    border-radius: 10px;
}
.pop-d {
    padding: 5px;
    border-bottom: 3px solid rgb(13, 79, 90);
    font-size: 45px;
}
.dish {
    margin: 15px 0px;
    padding: 0 0;
    margin-right: 22px;
    width: 265px;
    white-space: normal;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    border: 1px solid ghostwhite;
    font-size: 28px;
    transition: transform 0.3s;
}
.dish:hover {
  transform: translateY(-10px);
}
.dish a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.dish a:hover {
    color: rgb(72, 72, 72);
}
.letter {
    padding: 10px 5px;
}
.date {
    margin: 0 5px;
    font-size: 20px; 
    color: grey;
}
/* .read_continue {
    background: white;
    background: white;
    padding: 7px 20px;
    border-radius: 1px;
    border: 1px solid grey;
    transition: 0.3s;
    margin: 0 75px;
}
.read_continue:hover {
    background: rgb(211, 221, 169);
}
.read_continue a:hover {
    color: white;
} */
.loadmore {
    text-align: center;
    margin-bottom: 50px;
}
.loadmore button {
    background: white;
    padding: 15px 100px;
    border-radius: 1px;
    border: 1px solid grey;
    transition: 0.3s;
}
.loadmore button:hover {
    transform: translateY(+5px);
    border: 1px solid gainsboro;
}
.loadmore a:hover {
    color: grey;
}
.loadmore a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}



/* Trang list dishes */
.Cipe {
    font-size: 50px;
    
}
.recipe_list {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4);
    gap: 8px;
}
.recipe_list img {
    width: 575px;
    margin: 0 0;
    border-radius: 10px;
}
.recipe {
    width: 1150px;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 2px solid ghostwhite;
    display: flex;
    border-radius: 10px;

}
.infor {
    padding: 10px 20px;
}
.infor a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    transition: 0.3s;
}
.infor a:hover {
    color: rgb(72, 72, 72);
}
.infor span {
    color: grey;
    font-size: 20px;
}
.infor p {
    color: rgb(86, 86, 86);
    font-size: 20px;
    margin: 5px 0;
}
/* /Trang list dishes */



/* Trang about */
.web_introduce {
    margin: 20px 0;
    font-size: 25px;
    color: rgb(86, 86, 86);
}
/* /Trang about */



/* Trang profile */
.profile_page form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;

    font-size: 25px;
    width: 100%;
    margin: 0 0;
    padding: 0 3%;
    padding-bottom: 3%;
    /* border: rgb(116, 133, 38) 2px solid; */
    box-shadow: 0 2px 2px rgb(116, 133, 38);
    border-radius: 10px;
}
.profile_page form h2 {
    border-bottom: 2px solid rgb(116, 133, 38);
    font-size: 50px;
    margin-bottom: 20px;
}
.profile_page form lable b {
    font-size: 25px;

}
.profile_page form input {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: rgb(116, 133, 38) 2px solid;
    padding: 10px;
    font-size: 15px;
}
.profile_page form button {
    margin: 20px 5px;
    padding: 10px 20px;
}
.profile_page form button:hover {
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
.btnCancle {
    /* background: rgb(228, 244, 180); */
    background: white;
    color: rgb(116, 133, 38);
    font-size: 18px;
    border: rgb(116, 133, 38) 2.1px solid;
    border-radius: 5px; 

    transition: 0.2s;
}
.btnSave {
    /* background: rgb(228, 244, 180); */
    background: rgb(116, 133, 38);
    color: white;
    font-size: 18px;
    border: rgb(116, 133, 38) 2.1px solid;
    border-radius: 5px; 

    transition: 0.2s;
}
/* /Trang admin */